.MenuContainer {
  position: absolute;
  top: 68px;
  right: 10px;
  width: 300px;
  li {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.2s, color 0.2s;
    a {
      color: var(--primary);
    }
    &:hover {
      background-color: var(--primary);
      color: white;
      a {
        color: white;
      }
    }
  }
}
